{{!< default}}
<section class="section"><div class="wrap">{{#author}}<h1>{{name}}</h1><p>{{bio}}</p>{{/author}}<div class="cards">{{#foreach posts}}{{> article-card}}{{/foreach}}</div></div></section>
